<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1 style="text-align: center;">Vehicle Management Program</h1>
    <h1 style="text-align: center; ">
       <a href="/info"><button style="border: solid; width: 50%;"> Click Here To Go Home Page</button></a>
        
    </h1>
    
        
    </h1>
</body>
</html>